@model DinnerIn.Web.Models.ViewModels.EditTagRequest
@{
}


<div class="container py-5">

    @if (Model != null)
    {
        <form method="post">


            <div class="mb-3">
                <label class="form-label white-text">Id</label>
                <input type="text" id="id" class="form-control" asp-for="Id" readonly />
            </div>

            <div class="mb-3">
                <label class="form-label white-text">Namn</label>
                <input type="text" id="name" class="form-control" asp-for="Name" />
            </div>

            <div class="mb-3">
                <label class="form-label white-text">Synligt Namn</label>
                <input type="text" id="displayName" class="form-control" asp-for="DisplayName" />
            </div>

            <div class="mb-3">
                <div>
                    <button type="submit" class="btn btn-light">Uppdatera</button>
                    <button class="btn btn-danger ms-2" type="submit"
                        asp-area=""
                        asp-controller="AdminTags"
                        asp-action="Delete">
                        Ta bort
                    </button>



                </div>
            </div>

        </form>
    }
    else
    {
        <p> Tag not found</p>
    }



</div>