@model DinnerIn.Web.Models.ViewModels.AddRecipeRequest
@{
}



<div class="container py-5">
    <form method="post">
        <h2>Alla fält bör fyllas i, annars funkar det inte att spara receptet. Lycka till!</h2>
        <div class="mb-3">
            <label class="form-label white-text">Recept Titel</label>
            <input type="text" class="form-control" id="heading" asp-for="Heading" required />
            <span class="text-danger" asp-validation-for="Heading"></span>
        </div>
        <div class="mb-3">
            <label class="form-label white-text">Sidotitel</label>
            <input type="text" class="form-control" id="pageTitle" asp-for="PageTitle" required />
            <span class="text-danger" asp-validation-for="PageTitle"></span>
        </div>
        <div class="mb-3">
            <label class="form-label white-text">Innehåll</label>
            <textarea class="form-control" id="content" asp-for="Content" required></textarea>
            <span class="text-danger" asp-validation-for="Content"></span>
        </div>
        <div class="mb-3">
            <label class="form-label white-text">Kort Beskrivning</label>
            <input type="text" class="form-control" id="shortDescription" asp-for="ShortDescription" required />
            <span class="text-danger" asp-validation-for="ShortDescription"></span>
        </div>

        <div class="mb-3">
            <label class="form-label white-text">Ladda Upp Bild</label>
            <input type="file" id="featureImageUpload" class="form-control" required />
            <img src="" id="featureImageDisplay" style="display:none; width: 300px;" />
           
        </div>

        <div class="mb-3">
            <label class="form-label white-text">Bild Url</label>
            <input type="text" class="form-control" id="featureImageUrl" asp-for="FeatureImageUrl" required />
            <span class="text-danger" asp-validation-for="FeatureImageUrl"></span>
        </div>
        <div class="mb-3">
            <label class="form-label white-text">Url Hanterare</label>
            <input type="text" class="form-control" id="urlHandle" asp-for="UrlHandle" required />
            <span class="text-danger" asp-validation-for="UrlHandle"></span>
        </div>
        <div class="mb-3">
            <label class="form-label white-text">Publicerings Datum</label>
            <input type="date" class="form-control" id="publishedDate" asp-for="PublishedDate" required />
            <span class="text-danger" asp-validation-for="PublishedDate"></span>
        </div>
        <div class="mb-3">
            <label class="form-label white-text">Serverings Förslag</label>
            <input type="text" class="form-control" id="serveringSuggestions" asp-for="ServingSuggestions" required />
            <span class="text-danger" asp-validation-for="ServingSuggestions"></span>
        </div>
        <div class="mb-3">
            <label class="form-label white-text">Kock</label>
            <input type="text" class="form-control" id="chef" asp-for="Chef" required />
            <span class="text-danger" asp-validation-for="Chef"></span>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="visible" asp-for="Visible">
            <label class="form-check-label white-text">
                Synlig?
            </label>
            <span class="text-danger" asp-validation-for="Visible"></span>
        </div>

        <div class="mb-3">
            <label class="form-label white-text">Taggar</label>
            <select class="form-select" asp-items="@Model.Tags"
            asp-for="SelectedTags">  </select>

        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-light">
                Spara Recept!
            </button>
        </div>
      



    </form>

</div>

@section Scripts{
    <script>
        var editor = new FroalaEditor('#content', {
            imageUploadURL: '/api/images'
        });

        const featureImageUploadElement = document.getElementById('featureImageUpload');
        const featureImageUrlElement = document.getElementById('featureImageUrl');
        const featureImageDisplayElement = document.getElementById('featureImageDisplay');


        async function uploadFeatureImage(e) {

            console.log(e.target.files[0]);

            let data = new FormData();
            data.append('file', e.target.files[0]);

            await fetch('/api/Images', {
                method: 'POST',
                headers: {
                    'Accept': '*/*',
                },
                body: data
            }).then(response => response.json())
                .then(result => {
                   
                    featureImageUrlElement.value = result.link;
                    featureImageDisplayElement.src = result.link
                    featureImageDisplayElement.style.display = 'block'; 
                });
        }

        featureImageUploadElement.addEventListener('change', uploadFeatureImage);
    </script>
}
