@model List<DinnerIn.Web.Models.Domain.Recipe>

@{
}



<div class="container py-5">

    @if (Model != null && Model.Any())
    {
        <table class="table white-text">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Titel</td>
                    <td>Taggar</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var recipe in Model)
                {
                    <tr>
                        <td>@recipe.Id</td>
                        <td>@recipe.Heading</td>
                        <td>
                            <div class="d-flex text-white">
                                @foreach (var tag in recipe.Tags)
                                {
                                    <span class="badge bg-secondary me-1 text-white">@tag.Name</span>
                                }
                            </div>
                        </td>
                        <td>
                            <a asp-area="" asp-controller="AdminRecipes" asp-action="Edit"
                       asp-route-id="@recipe.Id">
                                Edit
                            </a>
                        </td>
                    </tr>
                }

            </tbody>

        </table>
    }
    else
    {
        <p class="text-white">No Recipes Found!</p>
    }



</div>