@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DinnerIn</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DinnerIn.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href='https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css' rel='stylesheet' type='text/css' />
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js'></script>


</head>
<body>


        <header class="site-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="header-logo">
                            <a href="index.html">
                            <a asp-area="" asp-controller="Home" asp-action="Index">
                                <img src="https://res.cloudinary.com/dg0pw8dnr/image/upload/v1685436637/Logga2_kssr0j.jpg" width="90" height="90" alt="Logo">
                            </a>

                            </a>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="main-navigation">
                            <button class="menu-toggle"><span></span><span></span></button>
                            <nav class="header-menu">
                                <ul class="menu food-nav-menu">
                                    

                                    @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                                    {
                                        
@*                                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Admin
                                            </a>*@

                                                <li>
                                                    <a 
                                                   asp-area=""
                                                   asp-controller="AdminTags"
                                                   asp-action="Add">
                                                        Skapa Tag
                                                    </a>
                                                </li>

                                                <li>
                                                    <a 
                                                   asp-area=""
                                                   asp-controller="AdminTags"
                                                   asp-action="List">
                                                        Visa Taggar
                                                    </a>
                                                </li>
                                                <li>
                                                    <a 
                                                   asp-area=""
                                                   asp-controller="AdminRecipes"
                                                   asp-action="Add">
                                                        Skapa Recept
                                                    </a>
                                                </li>
                                                <li>
                                                    <a 
                                                   asp-area=""
                                                   asp-controller="AdminRecipes"
                                                   asp-action="List">
                                                        Alla recept
                                                    </a>
                                                </li>
                                                <li>
                                                    <a 
                                                   asp-area=""
                                                   asp-controller="AdminUsers"
                                                   asp-action="List">
                                                        Alla användare
                                                    </a>
                                                </li>


                                    }

                                    @if (signInManager.IsSignedIn(User))
                                    {
                                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Hem</a></li>
                                    <li>
                                        <a asp-area="" asp-controller="About" asp-action="Index">Om oss</a>
                                    </li>
                                        <li>
                                            <a asp-area="" asp-controller="Account" asp-action="Logout">Logga ut</a>
                                        </li>
                                        <li>
                                            <div class="me-3 text-light">
                                                @User?.Identity?.Name
                                            </div>
                                        </li>
                                    }
                                    else
                                    {
                                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Hem</a></li>
                                        <li>
                                            <a asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                                        </li>
                                        <li>
                                            <a asp-area="" asp-controller="Account" asp-action="Register">Registrera</a>
                                        </li>
                                    <li>
                                        <a asp-area="" asp-controller="About" asp-action="Index">Om oss</a>
                                    </li>
                                    }

                                </ul>
                            </nav>
                            <div class="header-right">
@*                                <form action="#" class="header-search-form for-des">
                                    <input type="search" class="form-input" placeholder="Search Here...">
                                    <button type="submit">
                                        <i class="uil uil-search"></i>
                                    </button>
                                </form>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>



    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - DinnerIn - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
