
@{
}

<div class="container col-xxl-8 px-4 py-5">

    <div class="row align-items-center g-5 py-5">
        <div class="col-12 col-lg-6">
            <img src="https://res.cloudinary.com/dg0pw8dnr/image/upload/v1683792214/samples/animals/three-dogs.jpg"
                 alt="DinnerIn - SparklingSpreads"
                 class="d-blok mx-lg-aut img-fluid" width="500" />
        </div>
        <div class="col-12 col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">
                Välkommen till DinnerIn!
            </h1>
            <p class="lead">
                
                Hos oss hittar du massor av goda recept och matlagningstips som kommer att inspirera dig i köket. Oavsett om du är en erfaren kock 
                eller nybörjare, så är det här platsen för dig att utforska nya smaker och rätter. Vi som står bakom DinnerIn heter Jenny, Sandra 
                och Emelia vi alla har olika bakgrunder när det kommer till mat. Men genom våra egna erfarenheter och lärdomar har vi har samlat 
                våra kunskaper och erfarenheter för att skapa en plattform där du kan växa och utvecklas som en matlagningsexpert. Vi vill vara din 
                partner på matlagningsresan och inspirera dig att utforska nya smaker och njutningsfulla matupplevelser. Tack för att du valde att 
                besöka oss på DinnerIn. Smaklig måltid och ha det kul i köket!
            </p>
        </div>
    </div>
</div>