
@{
}

<div class="container col-xxl-8 px-4 py-5">

    <div class="row align-items-center g-5 py-5">
        <div class="col-12 col-lg-6">
            <img src="https://res.cloudinary.com/dg0pw8dnr/image/upload/v1683792214/samples/animals/three-dogs.jpg"
                 alt="DinnerIn - SparklingSpreads"
                 class="d-blok mx-lg-aut img-fluid" width="500" />
        </div>
        <div class="col-12 col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">
                About us - DinnerIn - Sparkling Spreads Edition
            </h1>
            <p class="lead">
                We curate and share a wide range of recipes, tips, and inspiration to help
                you create the perfect ambiance and elevate your culinary experience.

                From elegant canapés to tantalizing finger foods, our blog showcases a variety of mouthwatering side dishes, tempting appetizers, and indulgent starters. We believe that every Girls Night should be a feast for the senses,
                and we're here to guide you every step of the way.

                Join our community of like-minded women who appreciate the finer things in life and share a passion for delightful bites and exquisite flavors. Whether you're a seasoned hostess or just getting started, our blog is here to
                inspire you and help you make every gathering a memorable and stylish affair.

                Indulge in the world of sides, snacks, and starters with us and discover how to add a touch of luxury and elegance to your Girls Night. Cheers to good company, bubbling conversations, and unforgettable culinary experiences!
            </p>
        </div>
    </div>
</div>