@model DinnerIn.Web.Models.ViewModels.RegisterViewModel

@{
}

<section class="h-100 gradient-form" style="background-color: #191919;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">

                                <div class="text-center">
                                    <img src="https://res.cloudinary.com/dg0pw8dnr/image/upload/c_pad,b_auto:predominant,fl_preserve_transparency/v1685088926/logga1_q3wqaa.jpg?_s=public-apps" width="150" height="150" alt="Logo" />

                                    <h4 class="mt-1 mb-5 pb-1">Registrera:</h4>
                                </div>

                                <form>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form2Example11">Mail</label>
                                        <input type="email" id="email" class="form-control" asp-for="Email"
                                               placeholder="Skriv din mailadress här" />

                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form2Example11">Lösenord</label>
                                        <input type="Password" id="Password" class="form-control" asp-for="Password"
                                               placeholder="Skriv ditt lösenord här" />

                                    </div>


                                    <div class="text-center pt-1 mb-5 pb-1">
                                        <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Skapa konto</button>
                                    </div>

                                </form>

                            </div>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                            <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                <h4 class="mb-4">Upptäck Höjdpunkten av Snackselegans!</h4>
                                <p class="text-white small mb-0">
                                    Utforska en värld av eleganta och lyxiga recept på snacks och tilltugg för minnesvärda kvällar. Som medlem hos oss får du tillgång till exklusiva recept och inspirerande kulinariska tips.
                                    Bli en del av vår gemenskap och skapa oförglömliga snackingupplevelser. Upplev kulinarisk lyx på sitt allra bästa!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<div class="container mx-aut">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
            <h1 class ="mt-3 mb-3 h3">
                Register
            </h1>

            <form method="post">

            <div class="mb-3">
                <label class="form-label">Username</label>
                <input type="text" id="username" class="form.control" asp-for="Username"¨required/>
                    <span class="text-danger" asp-validation-for="Username"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="email" id="email" class="form.control" asp-for="Email" required/>
                    <span class="text-danger" asp-validation-for="Email"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                    <input type="text" id="password" class="form.control" asp-for="Password" required minlength="6" />
                    <span class="text-danger" asp-validation-for="Password"></span>
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-dark">Register</button>

            </div>
            </form>
        </div>
    </div>
</div>